---
layout: default
excludeSearch: true
excludeNavigation: true
---

<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>

<h1>Search<span id="search_term"></span></h1>

<form action="get" id="site_search" style="display: none">
    <input type="text" id="search_box" placeholder="Search" autofocus>
    <input type="submit" value="search" style="display:none">
</form>

<div id="search_results"></div>