<footer>
    <div class="row auto-width">
        <div class="col item">
            <ul>
                <li>Contributors:</li>
                <li><a href="http://www.fontbureau.com" target="_blank">Font Bureau</a></li>
                <li><a href="http://www.petr.com" target="_blank">Petr van Blokland</a></li>
                <li><a href="http://www.typemytype.com" target="_blank">TypeMyType</a></li>
            <ul>
        </ul></ul></div>
        <div class="col item">
            <ul>
                <li>Thanks to:</li>
                <li><a href="http://www.benkiel.com/" target="_blank">Ben Kiel</a></li>
                <li><a href="http://www.hipertipo.com/" target="_blank">Gustavo Ferreira</a></li>
                <li><a href="http://www.letterror.com" target="_blank">LettError</a></li>
                <li><a href="http://www.typesupply.com" target="_blank">Type Supply</a></li>
                <li><a href="http://unifiedfontobject.org/" target="_blank">Unified Font Object</a></li>
                <li><a href="http://fontparts.readthedocs.io" target="_blank">FontParts</a></li>
                <li><a href="https://github.com/fonttools/fonttools" target="_blank">FontTools</a></li>
            </ul>
        </div>
        <div class="col item">
            <ul>
                <li><a href="http://www.robofont.com/contact">contact</a></li>
                <li>&nbsp;</li>
                <li><a href="http://twitter.com/robofonteditor" target="_blank">twitter</a></li>
                <li><a href="http://www.facebook.com/robofont" target="_blank">facebook</a></li>
                <li><a href="http://vimeo.com/robofont/" target="_blank">vimeo</a></li>
            </ul>
        </div>
        <div class="col item rightWhenBig">
            <div>
                <div>
                    <a class="buy-button" href="http://static.typemytype.com/robofont/RoboFont.dmg">download</a>
                </div>
                <div>
                    <a class="buy-button" href="https://sites.fastspring.com/typemytype/instant/robofont3">buy</a>
                </div>
                <div class="icon">
                    ⬤
                </div>
            </div>
        </div>
    </div>
    <div class="row item">
        © Copyright <script>document.write(new Date().getFullYear())</script> <a href="http://www.typemytype.com" target="_blank">TypeMyType</a>
    </div>
</footer>